# Ignore all Jupyter checkpoints
**/.ipynb_checkpoints/

# Ignore all backup files
backups/

# Ignore virtual environments
.venv/
env/
__pycache__/
*.pyc

# Ignore data outputs
data/processed/
reports/
